# Object files  (removed .o so we don't have to recompile the Stellaris USB driver library which I had to modify)
*.ko
*.obj
*.elf

# Libraries (removed .a so we don't have to recompile the Stellaris USB driver library which I had to modify)
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
